html {
    min-height: 100%;
    background-color: black;
}

body {
    margin-top: 0;
}

.silver-card {
    background-color: #bdcad9;
    background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
    margin: 0 20% 0 20%;
    vertical-align: top;
    padding-top: 30px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.title-card {
    background-color: silver;
    text-align: center;
    color: Black;
    width: 500px;
    height: 230px;
    margin: 0 auto;
    border-color: black;
    border-style: solid;
}

.name {
    font-size: 32px;
    color: black;
    margin-top: -40px;
}

.title {
    font-size: 24px;
    margin-top: -45px;
}

.section-title {
    font-size: 36px;
    text-align: center;
    vertical-align: bottom;
    padding-top: 75px;
}

.dev-icon-link{
    width: 64px;
    height: auto;
}

.dev-icon {
    width: 128px;
    height: auto;
    border-radius: 82px;
    -webkit-transition: -webkit-box-shadow 0.5s ease-out, opacity 0.5s ease-out;
    -moz-transition: -moz-box-shadow 0.5s ease-out, opacity 0.5s ease-out;
    transition: box-shadow 0.5s ease-out, opacity 0.5s ease-out;
}

#java-icon {
    border-radius: 40px;
}

#lua-icon {
    border-radius: 10px;
}

#sql-icon {
    border-radius: 20px;
}

#mailto-icon {
    position: relative;
    right: -3px;
}

#footer-links {
    clear: left;
}

.dev-icon:hover {
    -webkit-box-shadow: 2px 12px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 12px 10px  rgba(0,0,0,0.3);
    box-shadow: 2px 12px 10px rgba(0,0,0,0.3);
    opacity: 1;
    cursor: pointer;
}

.skilled-row {
    text-align: center;
}

.clear-right {
    clear: right;
}

.clear-left {
    clear: left;
}

.left-image {
    float: left;
}

.right-image {
    float: right;
    position: relative;
    top: -30px;
}

#project-title {
    font-size: 32px;;
}

.project-text {
    font-size: 24px;
    margin: 5% 10% 10% 0;
}

.project-block-pink {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: lightpink;
    height: 500px;
    border-style: solid;
    border-color: black;
}

.project-block-blue {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: lightblue;
    height: 500px;
    border-style: solid;
    border-color: black;
}