/* Base CSS for iPhone 6 size */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: silver;
}

img {
    width: 100%;
    height: auto;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.dev-icon-link{
    width: 64px;
    height: auto;
}

#mailto-link {
    padding-left: 3px;
}

.skilled-row {
    text-align: center;
}

.name {
    font-size: 24px;
    color: black;
}

.title {
    font-size: 16x;
}

.title-card {
    background-color: silver;
    text-align: center;
    color: Black;
    margin: 0 auto;
    border-color: black;
    border-style: solid;
}

.section-title {
    font-size: 24px;
    text-align: center;
    vertical-align: bottom;
    padding-top: 50px;
    padding-block-end: 25px;
}

.dev-icon {
    width: 55px;
    height: auto;
}

.project-title {
    text-align: center;
}

.app-image {
    width: 100px;
}

.app-images {
    text-align: center;
}

.project-description {
    text-align: justify;
    margin: 5px 10px 0 10px;
}

.github-link {
    text-align: center;
    text-decoration-color: blue;
    text-decoration: underline;
}

.pink-project {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: lightpink;
    height: auto;
    border-style: solid;
    border-color: black;
}

.lightblue-project {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: lightblue;
    height: auto;
    border-style: solid;
    border-color: black;
}

.mfp-image {
    margin: 0 5px 0 5px;
}

.nqueens-image {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact-me {
    width: 200px;
    margin: auto;
    border-color: black;
    border-style: solid;
    text-align: center;
}

/* iPad */
@media screen and (min-width: 768px) {

    .title-card {
        margin: 60px 100px 0 100px;
    }

    .dev-icon {
        width: 120px;
        height: auto;
    }

    .image-left {
        float: left;
        margin-left: 3px;
    }

    .image-right {
        float: right;
        margin-right: 3px;
    }

    .app-images {
        text-align: unset;
    }

    .mfp-image {
        width: 500px;
        height: auto;
        display: block;
        margin: auto;
    }

    #project-one {
        height: 270px;
    }

    #description-one {
        margin-left: 310px;
        position: relative;
        top: 20px;
    }
    
    #project-three {
        height: 300px;
    }

    #description-three {
        position: relative;
        top: 20px;
    }
  
}